@model HelpDeskTrain.Models.Lifecycle

<div>
    <p><b>Заявка № @Html.DisplayFor(m => m.Id)</b></p>
    <p>Жизненный цикл</p>
    <p>Открыта:  @Html.DisplayFor(m=>m.Opened)</p>
    <p>Распределена:  @Html.DisplayFor(m=>m.Distributed)</p>
    <p>В процессе:  @Html.DisplayFor(m=>m.Proccesing)</p>
    <p>На проверке:  @Html.DisplayFor(m=>m.Checking)</p>
    <p>Закрыта:  @Html.DisplayFor(m=>m.Closed)</p>
</div>