@model HelpDeskTrain.Models.Request
<div>
<p><b>Подробные сведения: Заявка №  @Html.DisplayFor(m => m.Id)</b></p>
<p>Описание: @Html.DisplayFor(m=>m.Description)</p>
<p>Кабинет: @Html.DisplayFor(m=>m.Activ.CabNumber)</p>
<p>Категория: @Html.DisplayFor(m=>m.Category.Name)</p>
<p>Комментарий: @Html.DisplayFor(m=>m.Comment)</p>
</div>